@-moz-document url-prefix("chrome:") {
    :root:not([customizing]) #back-button {
        display: none !important;
    }

    :root:not([customizing]) #forward-button {
        display: none !important;
    }

    :root:not([customizing]) #nav-bar {
        margin-left: 0px !important;
    }

    :root:not([customizing]) #zen-appcontent-navbar-container {
        padding-left: 0px !important;
    }


    .browserSidebarContainer {
        margin-left: 0px !important;
    }

    #zen-tabbox-wrapper {
        margin-bottom: 0px !important;
    }
    
    #main-window {
        zen-border-radius: 0px !important;
    }
}
